body {
	color: white;
	background-color: black;
	font-family: helvetica;
}

a {
	color: #eeeecc;
}

a:visited {
	color: #808000;
}

h3 {
	font-style: italic;
}

p {
	text-align: justify;	
}

p, ul, ol {
	color: #eeeeee;
	line-height: 1.75;
	max-width: 1000px;
	margin-left: 40px;
	margin-right: 40px;
}