body {
	color: white;
	background-color: black;
	font-family: helvetica;
}

a {
	color: #eeeecc;
}

a:visited {
	color: #808000;
}

h3 {
	font-style: italic;
}

p, ul, ol {
	color: #eeeeee;
	line-height: 1.75;
}

@media (min-width: 600px) {
	p {
		text-align: justify;	
	}

	p, ul, ol {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media (max-width: 599px) {
	p, ul, ol {
		margin-right: 25px;
	}
}
